html,body{
	margin:0px;
	width: 100%;
	height:100%;
}

.navbar{
    border-radius: 0px;
	z-index:99999;
}

/*
.navbar-brand {
	font: normal 'Cookie', cursive;
}*/

/*** SETTINGS Area ***/
.settings {
	background: #222;
	/*border: 1px solid #000;*/ 
	border-radius: 0px 0px 3px 0px;
	color: #fff;
	filter: alpha(opacity=50); /* opacity for IE9 */
	font-family: 'Open Sans',arial,sans-serif;
	opacity: 0.75;
	position: absolute; 
	z-index: 9999;  
		
}

.settings-head{
	font-size: 13px;
}

#settings-progress{
	margin: 7px 0px;
	margin-right: 20px;
	padding: 3px 6px;
	background: #474747;
}

#settings-toggler {
	padding: 12px 12px;
	position:absolute; 
	right:0px;
	top:0px; 
}

#settings-toggler:hover{
	color: #AAAAAA;
	cursor:pointer;
}

.settings .panel-body{
	overflow-y: scroll;
	height: 200px;
}

/*** MAP Area ***/
.map-container{
    height:94%;
	margin-top: -20px;
	margin-bottom: -80px;

}

#map{
	/*width:100%;
    height:100%;*/
    /*width:90%;*/
    height:100%;
}

.progress{
	height: 6px !important;
}



/******** FOOTER *******/
.footer{
	background-color: #222;/*#292c2f*/
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	/*font: normal 16px sans-serif;*/
    font: normal 16px;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer .footer-left,
	.footer .footer-right{
		text-align: center;
	}

	.footer .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer .footer-left p.footer-links{
		line-height: 1.8;
	}
}