{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">

<div class="map-container">
    <div class="settings col-xs-12 col-md-3">
      <div class="settings-head" style="height:auto;">
        <div id="settings-progress">
          100%
        </div>
        <i id="settings-toggler" class="fa fa-plus-circle" aria-hidden="true" data-toggle="collapse" data-target=".settings-panel"></i>
      </div>
      <div class="settings-panel collapse">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Identified Places</h3>
            </div>
            <div class="panel-body" style="overflow-y: scroll; height: 200px">
              <div class="places-result">
                test
              </div>
              <ul class="list-group" id="id-places">
                
              </ul>
            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Unidentified URIs</h3>
            </div>
            <div class="panel-body">
              <table id="unknown" class="table table-condensed table-striped">
                <tr>
                  <th>URI</th>
                </tr>
                
              </table>
            </div>
          </div>

          <div class="content container-fluid">
            <h2>Set a mark!</h2>
            <button onclick="test()" type="button" class="btn btn-default">DER Kuhberg</button>
            <button onclick="setMapMarker()" type="button" class="btn btn-default">Mark</button>
          </div>

      </div>  
    </div>
    <div style="height:100%;">
        <div id="map"></div>
        <div id="geocold-lookup"></div>  
    </div>
</div>


    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script type="text/javascript" language="javascript">
      
      


      $(document).ready(function () {

          // fetch data from POST and JSONfy
          let data = '{{ data|tojson }}'
          let json_data = JSON.parse(data)
          console.log('received POST data:')
          console.log(json_data)
          
          // initialise GeoCoLD
          initMap();
          
          // select the individual URIs to be looked up 
          let individuals = json_data['individuals'] 
          //console.log(individuals)
          
          console.log('start lookup ...')
          
          let call = new Loading(individuals.length);
          call.create_bar('#geocold-lookup', '#progress-load',  '#settings-progress');
          
          
          for (let i = 0; i < individuals.length; i++) {
            console.log(individuals[i])
            let list = [individuals[i]]
            for (let j = 0; j < list.length; j++){
              lookup(JSON.stringify(list[j]), call);
            };
          };
          
          
          /*
          // testlist of uris
          json_list = [
              "http://sws.geonames.org/2867613", 
              "http://d-nb.info/gnd/4021477-1", 
              "http://d-nb.info/gnd/4013255-9", 
              "http://d-nb.info/gnd/7688136-2", 
              "http://d-nb.info/gnd/4324745-3", 
              "http://d-nb.info/gnd/118789708",
              "http://www.fontane-notizbuecher.de/pers.xml#Bossart"];
          json_list2 = ["http://d-nb.info/gnd/4007879-6"];
          //postData('http://d-nb.info/gnd/4021477-1')
          //postData(JSON.stringify(json_list));
          */
      });

    </script>
    
    
{% endblock %}